{% extends "template.html" %}
{% block body %}

<form action="/timetable" method="get">
    <select class="choose-busline" name="busline_id">
        <option value="none">Select or search bus line</option>
        {% for busline in buslines|sort(attribute='company') %}
        <option value="{{ busline.get_key() }}">{{ busline.name }} #{{ busline.company }}</option>
        {% endfor %}
    </select>
    <div class="alert alert-info loading-msg">
        <strong>Loading...</strong>
        This shouldn't be long
    </div>
</form>

<div class="timetable-container"></div>

{% endblock %}
{% block footer %}
<div class="footer">
    Public transportation companies:
    {% for company in companies %}
    <a href="{{ company.website }}">{{ company.name }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="/static/js/app.js"></script>
<link rel="stylesheet" href="/static/css/chosen.css">
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}
