<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Floripa Indo e Vindo - Bus Schedules</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="top-header">
            <a href="/">Floripa Indo e Vindo - Bus Schedules</a>
        </h2>
        {% block body %}
        {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
</body>
</html>
