<div class="{% if company.id != 'jotur' %}col-lg-6 col-md-6 col-sm-8 col-xs-12{% endif %}">
    <h3>Line {{ busline.name }} - {{ company.name }}</h3>

    {% if busline.ext_link %}
    <a href="{{ busline.ext_link }}">See line information in {{ company.name }} website</a>
    {% endif %}
    <table class="table table-bordered">
        <tr>
            {% for day_type, items in timetable.iteritems() %}
            <th colspan="{{ items|count }}">{{ day_type }}</th>
            {% else %}
            <th>No data available for this bus line. :(</th>
            {% endfor %}
        </tr>
        <tr>
            {% for _, terminal_times in timetable.iteritems() %}
            {% for terminal, _ in terminal_times.iteritems() %}
            <th>{{ terminal }}</th>
            {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            {% for _, terminal_times in timetable.iteritems() %}
            {% for busTimes in terminal_times.values() %}
            <td>
                {% for busTime in busTimes %}

                {% if busTime.extra %}
                <div>
                    {% for time in busTime.times %}
                    <span>{{ time }}</span>
                    {% endfor %}
                    <small style="font-size: 9px;">{{ busTime.extra }}</small>
                </div>
                <div style="margin-bottom: 4px"> </div>
                {% else %}
                    {% for time in busTime.times %}
                    <div>{{ time }}</div>
                    {% endfor %}
                {% endif %}

                {% endfor %}
            </td>
            {% endfor %}
            {% endfor %}
        </tr>
    </table>
</div>
