.container {
    margin-bottom: 30px;
}
.footer {
    position: fixed;
    bottom: 0;
    background-color: #eee;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.top-header {
    padding: 20px;
}

.top-header a, .top-header a:hover {
    text-decoration: none;
    color: #333;
}

.loading-msg {
    top: 2px;
    left: 30%;
    padding: 2px 30px;
    position: fixed;
    z-index: 10;
}
